<h2>{{title}}</h2>

<span *ngIf="animes">

  <ons-row  *ngIf="isHorizzontal">
      <ons-col width="10%" *ngFor="let m of animes.results; let i = index">
        <h3 class="truncate">{{m.results[0].title}}</h3>
        <!--<img (click)="emitEventOpenAnime(i)" [lazyLoad]="m?.results[0].image_url" [defaultImage]="'assets/images/poster_placeholder.jpg'" alt="" width="100%" style="padding-left: 5px; cursor: pointer">-->
        <img (click)="emitEventOpenAnime(i)" src="{{m?.results ? m?.results[0].image_url : 'assets/images/poster_placeholder.jpg'}}" alt="" width="100%" style="padding-left: 5px; cursor: pointer">
        <button (click)="emitEventDeleteAnime(i)" *ngIf="router.url === '/user'" class="btn btn-danger">
          <mat-icon style="padding-top: 5px">delete</mat-icon>
        </button>
      </ons-col>
   </ons-row>

    <ons-row  *ngIf="!isHorizzontal">
      <ons-col width="33%" *ngFor="let m of animes.results; let i = index">
        <h5 class="truncate">{{m.results[0].title}}</h5>
        <img (click)="emitEventOpenAnime(i)" src="{{m?.results ? m?.results[0].image_url : 'assets/images/poster_placeholder.jpg'}}" alt="" width="100%" style="padding-left: 5px; cursor: pointer">
        <button (click)="emitEventDeleteAnime(i)" *ngIf="router.url === '/user'" class="btn btn-danger">
          <mat-icon style="padding-top: 5px">delete</mat-icon>
        </button>
      </ons-col>
    </ons-row>



</span>
