h2 {
  font-size: x-large;
  color: white;
}

h3 {
  color: white;
}

img {
  border-radius: 5px;
}

.anime {
  margin: 20px 0;

  .anime__images {
    div.thumbnails .carousel {
      width:100%;
      .slick-item {
        transition: all 0.3s ease;
      }

      .slick-item:hover {
        transform: scale(1.02);
        cursor: pointer;
      }
    }
  }
}


#img_container {
  position:relative;
  display:inline-block;
  text-align:center;
}

.button {
  position:absolute;
  background-color: #b34444;
  top:10px;
  right:10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
