<vg-player (onPlayerReady)="onPlayerReady($event)">
  <vg-overlay-play></vg-overlay-play>
  <vg-controls [vgAutohide]="true">
    <vg-play-pause></vg-play-pause>

    <div style="color: white; padding-left: 10px; padding-top: 10px; cursor: pointer; font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"> Episodio {{index + 1}} </div>

    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

    <vg-mute></vg-mute>
    <vg-volume></vg-volume>

    <div (click)="goToNextEpisode()" *ngIf="nextEpisode && nextEpisode !== ''" class='my-button iconButton' style="color: white; padding-left: 10px; padding-top: 10px; cursor: pointer; font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Prossimo epsodio</div>

    <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video autoplay #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
    <source src="{{currentEpisode}}" type="video/mp4">
  </video>
</vg-player>
