<vg-player>
  <vg-overlay-play></vg-overlay-play>
  <vg-controls [vgAutohide]="true">
    <vg-play-pause></vg-play-pause>
    <vg-playback-button></vg-playback-button>
    <vg-quality-selector></vg-quality-selector>

    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

    <vg-mute></vg-mute>
    <vg-volume></vg-volume>

    <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video autoplay #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
    <source src="{{videoUrl}}" type="video/mp4">
  </video>
</vg-player>
