<app-loader *ngIf="loading"></app-loader>
<ons-page>
  <app-top-toolbar></app-top-toolbar>

  <div class="background" style="background-color: #0D0D0D"></div>

  <div class="content">
    <br>
    <br>
    <div class="body">
      <div class="list-container">
        <app-banner [banner]="banner"></app-banner>
        <div *ngFor="let lista of homeScreenMatrix; let i = index">
          <app-slider title="" (openAnime)="openDialog($event)" [animes]="lista"></app-slider>-
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>

  <app-bottom-toolbar></app-bottom-toolbar>
</ons-page>

