<ons-page>
  <app-top-toolbar></app-top-toolbar>

  <div class="background" style="background-color: #0D0D0D"></div>

  <div class="content">
    <br>
    <br>
    <br>
    <div class="body" *ngIf="!loading">
      <app-paypal-button></app-paypal-button>
      <div class="list-container">
        <div *ngFor="let lista of homeScreenMatrix; let i = index">
          <app-slider title="I più visti" (openAnime)="openDialog($event)" [animes]="lista"></app-slider>-
        </div>
      </div>
    </div>
    <app-loader *ngIf="loading"></app-loader>
    <br>
    <br>
    <br>
  </div>
  <app-bottom-toolbar></app-bottom-toolbar>
</ons-page>

