<ons-page>
  <app-top-toolbar></app-top-toolbar>

  <div class="background" style="background-color: #0D0D0D"></div>

  <div class="content" style="color: white">
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <img routerLink="/user" height="60px" width="60px" style="border-radius: 50%" src="{{user && user.photoURL ? user.photoURL : 'assets/images/poster_placeholder.jpg'}}"
             alt="avatar">
        <p style="padding-left: 10px; padding-top: 16px">{{user.displayName ? user.displayName : user.email}}</p>
      </div>
      <mat-icon *ngIf="isAdmin" (click)="showAdmin = !showAdmin" style="padding-top: 10px; cursor: pointer">admin_panel_settings</mat-icon>
      <mat-icon (click)="logout()" style="padding-top: 10px; cursor: pointer">login</mat-icon>
      <app-admin-panel *ngIf="isAdmin && showAdmin"></app-admin-panel>
      <hr>
      <h6 *ngIf="homeScreenMatrix.length" >Cosa stai guardando</h6>
      <h6 *ngIf="!homeScreenMatrix.length" >Ancora non hai guardato niente, inizia subito la tua esperienza!</h6>

      <div *ngIf="homeScreenMatrix.length>0">
        <div *ngFor="let list of homeScreenMatrix">
          <app-slider title="" (deleteFromUser)="onDeleteAnime($event)" (openAnime)="onOpenAnime($event)" [sliderConfig]="sliderConfig" [animes]="watchingResume.length>20 ? list : tmpAnimes"></app-slider>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

  </div>

  <app-bottom-toolbar></app-bottom-toolbar>
</ons-page>
