<mat-dialog-content>
  <div class="container">
    <div class="row" *ngIf="isHorizzontal">
      <img width="25%" style="border-radius: 5px" src="{{anime.results[0].image_url}}">
      <div class="col">
        <h1>{{title}}</h1>
        <br>
        <p>{{anime.results[0].synopsis}}</p>
      </div>
    </div>
    <div class="row" *ngIf="!isHorizzontal">
      <div class="col-12">
        <img width="100%" style="border-radius: 5px" src="{{anime.results[0].image_url}}">
      </div>
      <div class="col-12">
        <h1>{{title}}</h1>
        <br>
        <p>{{anime.results[0].synopsis}}</p>
      </div>
    </div>
    <hr style="color: white">
    <div  *ngIf="populated">
      <h2>Lista episodi</h2>
      <div  *ngIf="!errorMessage">
        <div style="" class="row" >
          <div class="col-4" *ngFor="let e of episodesList; let i = index">
            <p (click)="playEpisode(i)" style="cursor: pointer">Episodio {{i+1}}</p>
          </div>
        </div>
      </div>
      <div  *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
      </div>
    </div>
    <app-loader *ngIf="!populated"></app-loader>
  </div>
</mat-dialog-content>
