<mat-dialog-content>
  <div class="container">
    <div class="row">
      <img src="{{anime.results[0].image_url}}">
      <div class="col">
        <h1>{{title}}</h1>
        <br>
        <p>{{anime.results[0].synopsis}}</p>
      </div>
    </div>
    <hr style="color: white">
    <div class="container" *ngIf="populated">
      <h2>Lista episodi</h2>
      <div style="padding-left: 20px" class="row" >
          <div class="col-3" *ngFor="let e of episodesList; let i = index">
            <p (click)="playEpisode(i)" style="cursor: pointer">Episodio {{i+1}}</p>
          </div>
      </div>
    </div>
    <app-loader *ngIf="!populated"></app-loader>
  </div>
</mat-dialog-content>
