<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Bentornato</h3>
                <div class="form-label-group">
                  <input [(ngModel)]="email" type="email" id="inputEmail" class="form-control" placeholder="Indirizzo mail" required autofocus>
                  <label for="inputEmail"></label>
                </div>

                <div class="form-label-group">
                  <input [(ngModel)]="pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <label for="inputPassword"></label>
                </div>


                <button (click)="emailLogin()" class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Accedi</button>
                <button (click)="googleLogin()" class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Accedi con Google</button>
                <div class="text-center">
                  <a class="small" (click)="forgotPassword()" style="color: #b34444">Password dimenticata?</a></div>
                <div class="text-center">
                  <a class="" routerLink="/signUp" style="color: #b34444">Sei nuovo? Registrati!</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
