/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~onsenui/css/onsenui.css';
@import '~onsenui/css/onsen-css-components.css';
html, body { height: 100%; background-color: #0D0D0D; color: white}
body { overflow-x:hidden; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-panel .mat-dialog-container {
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  background-color: #181818;
  color: white;
}
